*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#0f172a;
color:white;
}

.home{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.hero{
text-align:center;
max-width:700px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
color:#cbd5e1;
line-height:35px;
margin-bottom:40px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
}

.primary-btn,
.secondary-btn{

display:flex;
align-items:center;
gap:10px;

padding:15px 30px;

border:none;

border-radius:12px;

font-size:18px;

cursor:pointer;

transition:.3s;

}

.primary-btn{

background:#2563eb;

color:white;

}

.primary-btn:hover{

background:#1d4ed8;

}

.secondary-btn{

background:#1e293b;

color:white;

}

.secondary-btn:hover{

background:#334155;

}