/* ================= NAVBAR ================= */

.navbar{
    height:70px;
    background:#111827;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 30px;
    border-bottom:1px solid #2b3445;
}

.logo{
    font-size:26px;
    font-weight:bold;
    color:white;
}

.search-box{
    display:flex;
    align-items:center;
    background:#1F2937;
    padding:10px 15px;
    border-radius:12px;
    width:350px;
}

.search-box input{
    border:none;
    outline:none;
    background:transparent;
    color:white;
    margin-left:10px;
    width:100%;
}

.nav-icons{
    display:flex;
    gap:20px;
    color:white;
    cursor:pointer;
}